<?xml version="1.0"?>
<config>
    <modules>
        <Webgriffe_DbIsolation>
            <version>1.0.0</version>
        </Webgriffe_DbIsolation>
    </modules>
    <global>
        <models>
            <webgriffe_dbisolation>
                <class>Webgriffe_DbIsolation_Model</class>
                <resourceModel>webgriffe_dbisolation_resource</resourceModel>
            </webgriffe_dbisolation>
            <webgriffe_dbisolation_resource>
                <class>Webgriffe_DbIsolation_Model_Resource</class>
            </webgriffe_dbisolation_resource>
        </models>
        <blocks>
            <webgriffe_dbisolation>
                <class>Webgriffe_DbIsolation_Block</class>
            </webgriffe_dbisolation>
        </blocks>
        <helpers>
            <webgriffe_dbisolation>
                <class>Webgriffe_DbIsolation_Helper</class>
            </webgriffe_dbisolation>
        </helpers>
        <resources>
            <webgriffe_dbisolation_setup>
                <setup>
                    <module>Webgriffe_DbIsolation</module>
                </setup>
            </webgriffe_dbisolation_setup>
        </resources>
        <events>
            <phpunit_test_start_before>
                <observers>
                    <webgriffe_dbisolation_start_transaction>
                        <class>webgriffe_dbisolation/observer</class>
                        <method>beginTransaction</method>
                    </webgriffe_dbisolation_start_transaction>
                </observers>
            </phpunit_test_start_before>
            <phpunit_test_end_after>
                <observers>
                    <webgriffe_dbisolation_rollback_transaction>
                        <class>webgriffe_dbisolation/observer</class>
                        <method>rollbackTransaction</method>
                    </webgriffe_dbisolation_rollback_transaction>
                </observers>
            </phpunit_test_end_after>
        </events>
    </global>
</config>
